body {
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;    
    margin: 10px; /* Adding margin to the body */
    background-color: #cab8b8; /* Light background color */
}

.title {
    text-align: center;
    text-decoration: underline green; /* Underline with green color */
    font-size: xx-large;
}

.about-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.about-image {
    flex: 1;
    max-width: 100%;
}

.about-info {
    flex: 2;
    padding: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.read-more {
    text-align: right;
    margin-top: 20px;
}

.hidden-info {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #2f880a;
    color: white;
    border: none;
    border-radius: 56px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Additional CSS for child-friendly fonts and colors */
.child-friendly {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: large;
    color: #ff6600;
}

/* Apply child-friendly style to specific paragraphs */
.child-friendly-paragraph {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: large;
    color: #ff6600;
}
