body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.top-right a {
    font-size: 24px;
    color: gold;
    text-decoration: none;
    margin-left: 20px;
}

.get-started-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: gold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 100%;
}

.get-started-info {
    font-size: 18px;
    color: white;
    margin-bottom: 22px;
}

.get-started-button {
    background-color: gold;
    color: white;
    padding: 15px 10px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.get-started-button:hover {
    background-color: darkgoldenrod;
}
