<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/styles2.css">
</head>
<body>
    <header>
        <h1>Welcome to Your Dashboard</h1>
    </header>

    <!-- Circular images container -->
    <div class="circle-container">
        <!-- Clickable circular images with links -->
        <a href="../templates/game_dashboard.html">
            <div class="circle book-circle"></div>
        </a>
        <a href="../templates/elearning_dashboard.html">
            <div class="circle game-circle"></div>
        </a>
    </div>
</body>
</html>
