<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email OTP Password Reset</title>
    <link rel="stylesheet" href="../static/CSS/styles4.css">
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <form id="resetForm">
            <input type="email" placeholder="Email" id="resetEmail" required>
            <button type="button" id="sendOTP">Send OTP</button>
            <input type="text" placeholder="OTP" id="resetOTP" required>
            <input type="password" placeholder="New Password" id="newPassword" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    <script src="..//static/Logic/script1.js"></script>
</body>
</html>
  