<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/styles1.css">
</head>
<body>
    <h1 class="title">About Us</h1>
    <p class="sentence">Try eXciteLearn today and see how we can help you achieve your learning goals!</p>

    <div class="about-container">
        <div class="about-image">
            <img src="../static/images/pexels-yan-krukau-8613121.jpg" alt="About Us Image" width="100%">
        </div>
        <div class="about-info">
            <p class="child-friendly">eXciteLearn is revolutionizing education by making learning fun and engaging. Our platform provides a unique and interactive learning experience that keeps students motivated and excited to learn.</p>
        
            <div class="hidden-info">
                <p class="child-friendly-paragraph">Traditional learning methods can be boring and uninspiring. eXciteLearn uses gamification and interactive tools to make learning exciting and engaging. With our platform, students can track their progress and compete with friends to reach their learning goals.</p>
                <p class="child-friendly-paragraph">Gamification is the process of adding game-like elements to non-game contexts. eXciteLearn uses gamification to make learning more enjoyable and effective. By introducing elements like rewards, challenges, and friendly competition, we make learning feel like a game!</p>
            </div>
            
            <div class="read-more">
                <button id="read-more-btn">Read More</button>
            </div>
        </div>
    </div>

    <script src="../static/Logic/script.js"></script>
</body>
</html>
