<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign Up</title>
    <link rel="stylesheet" href="../static/CSS/styles6.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <input type="text" placeholder="Name" id="name" required>
            <input type="email" placeholder="Email" id="email" required>
            <input type="tel" placeholder="Phone Number" id="phone" required>
            <input type="date" id="dob" required>
            <select id="gender" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <button type="button" id="sendOTP">Send OTP</button>
            <input type="text" placeholder="OTP" id="signupOTP" required>
            <a href="../templates/page1.1.html"><button type="submit">Sign Up</button></a>
        </form>
    </div>
    <script src="../static/Logic/script3.js"></script>
</body>
</html>
