<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/styles.css">
</head>
<body>
    <div class="container">
        <img src="../static/images/photo1693366995.jpg" alt="Your Image">
    </div>
    <div class="top-right">
        <a href="../templates/page1.1.html">Login</a>
        <a href="../templates/page 1.4.html">Contact Us</a>
        <a href="../templates/page 1.2.html">About</a>
    </div>
    <div class="get-started-container">
        <div class="get-started-info">
            Welcome to our website. Get started today!
        </div>
        <a href="../templates/page 1.1.2.html" class="get-started-button">Get Started</a>
    </div>
</body>
</html>
